@model ProductModel

@{
    ViewData["Title"] = "Create/Update";
}


<form method="post">
    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                @*<div class="row pb-2">
                <h2 class="text-primary"> @(Model.Id == 0?"Create":"Update") Product</h2>
                </div>*@
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Id==0?"Create":"Update") Product</h2>
                    <hr />
                </div>

                <!--Title-->
                <div class="mb-3">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <!--Description-->
                <div class="mb-3">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <!--ISBN-->
                <div class="mb-3 col-6">
                    <label asp-for="ISBN"></label>
                    <input asp-for="ISBN" class="form-control" />
                    <span asp-validation-for="ISBN" class="text-danger"></span>
                </div>

                <!--Author-->
                <div class="mb-3 col-6">
                    <label asp-for="Author"></label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <!--ListPrice-->
                <div class="mb-3 col-6">
                    <label asp-for="ListPrice"></label>
                    <input asp-for="ListPrice" class="form-control" />
                    <span asp-validation-for="ListPrice" class="text-danger"></span>
                </div>

                <!--Price(1-50)-->
                <div class="mb-3 col-6">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <!--Price(50-100)-->
                <div class="mb-3 col-6">
                    <label asp-for="PriceFifty"></label>
                    <input asp-for="PriceFifty" class="form-control" />
                    <span asp-validation-for="PriceFifty" class="text-danger"></span>
                </div>

                <!--Price(100+)-->
                <div class="mb-3 col-6">
                    <label asp-for="PriceHundred"></label>
                    <input asp-for="PriceHundred" class="form-control" />
                    <span asp-validation-for="PriceHundred" class="text-danger"></span>
                </div>

                <!--ImageURL-->
                <div class="mb-3">
                    <label asp-for="ImageUrl"></label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <!--category list-->
                <div class="mb-3 col-6">
                    <label asp-for="CategoryId"></label>
                    <select asp-for="CategoryId" class="form-select">
                        <option disabled selected>--select--</option>
                    </select>
                </div>

                <!--cover type list-->
                <div class="mb-3 col-6">
                    <label asp-for="CoverTypeId"></label>
                    <select asp-for="CoverTypeId" class="form-select">
                        <option disabled selected>--select--</option>
                    </select>
                </div>

                <div class="col-12">
                    @if (Model.Id == 0)
                    {
                        <button class="btn btn-primary" style="width:150px">Create</button>
                    }
                    else
                    {
                        <button class="btn btn-primary" style="width:150px">Update</button>
                    }
                    &nbsp;&nbsp;
                    <a asp-action="Index" asp-controller="Products" class="btn btn-secondary"       style="width:150px">
                        Back To List
                    </a>
                </div>
            </div>
        </div>
        <div class="col-2 pt-4">
            <img src="ImageUrl" width="100%" style="border-radius:5px;border:1px solid #bbb9b9" />
        </div>
    </div>
</form>

