@model CategoryModel
@{
    ViewData["Title"] = "Edit";
}
@*@if (TempData["success"] != null)
{
    <h2>@TempData["success"]</h2>
}*@
@*<partial name="_Notification" />*@
<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Category</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
         <a asp-action="Edit" asp-controller="Categories" asp-route-id="@Model.CategoryId" class="btn btn-primary" style="width:150px">Update</a>
        @*<button class="btn btn-primary" style="width:150px">Update</button>*@
        &nbsp;&nbsp;
        <a asp-action="Index" asp-controller="Categories" class="btn btn-primary" style="width:150px">Back To List</a>
    </div>
</form>